{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
{% if recipes %}
<div class="row">
  <div class="large-12 columns">
    <h1 class="sitefont" style="margin: 1em 0 1em 0;">Some of our favorites</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
<ul data-orbit>
{% for result in recipes %}
{% if result.img %}
<a href="/recipe/{{ result.name }}">
<li>
  	<img src="http://thumbor.us.davidsingleton.org/unsafe/1000x300/{{ result.img }}" />
  <div class="orbit-caption">
  	<h3 class="sitefont">{{ result.title }}</h3>
  	<h5>{{ result.summary }}</h5>
  </div>
</li>
</a>
{% endif %}
{% endfor %}
</ul>
</div></div>
{% endif %}
{% endblock %}